@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif ;
    scroll-behavior: smooth ;
}

:root{
    --color_text-primary: #0c181c;
    --color_text-secundary: #0303b5;
    --color_text-tertiary: rgb(74, 31, 194);
    --main_color-primary: white;
    --main_color-secundary: #3f8880;
    --background-color: #abb0f5;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px #d80000;
    --icon_arrow-right: \2192
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}
.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo img{
    width: 100px;
}
.logo h2{
    color: var(--color_text-tertiary);
}
.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}
.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;

}

.menu nav ul li a{
    color: var(--color_text-primary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover{
    color: var(--color_text-secundary);
}


.btn_quote{
    display: block;
    padding: 2px 10px;
    border: 2px solid var(--color_text-tertiary);
    border-radius: 10px;
    font-weight: 600;
    color: var(--color_text-tertiary);
    margin: 0px 20px;
    transition: all 1000ms;
}

.btn_quote:hover{
    color: white;
    background: var(--color_text-primary);
}

.menu .SocialMedia{
    margin: 0px 10px;

}

.menu .SocialMedia a{
    margin: 0px 4px;
}

.menu .SocialMedia img{
    width: 25px;
}




.container_cover{
    padding-right: 500px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--background-color);
}
.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text_cover{
    width: 100%;
    padding-right: 150px;

}

.text_cover h1{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 50px;
    color: var(--color_text-secundary);

}
.text_cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}
.btn_text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--color_text-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 500ms;
}

.btn_text:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: white;
}
.image_cover{
    width: 100%;

}
.image_cover img{
    width: 600px;
    height: 500px;
    border-radius: 30%;
    margin-left: 20%;
}

/*End Pordata Inicio*/
/*Estilos Generales Card*/

.container_card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    text-align:center;
    margin: 100px 100px;
    

}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}



.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    text-align: center;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;
}
.box__card-primary img{
    border-radius: 40px;
}

/*End Estilos Generales Cards*/
.coverThree{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;

}
.text_coverThree{
    justify-content: center;
}
.text_coverThree h1{
   
    font-size: var(--text_title_card);
    text-align: start;
    padding-left: 100px;
    margin-top: 20%;
    margin-left: 50px;
    margin-right: 100px;
}
.text_coverThree p{
    text-align: start;
    margin-top: 10px;
    padding-left: 100px;
    margin-left: 50px;
    margin-right: 100px;
}
.image_coverThree {
    margin-top: 5%;
    display: flex;
    justify-content: center center;
    align-items: center;
    
}
.image_coverThree .image_one{
    padding-right: 1px;
}
.image_coverThree .image_two img{
    height: 40%;
    width: 100%;
    padding-right:100px ;
}
.image_coverThree .image_one img{
    height: 40%;
    width: 100%;
    padding-left: 100px;

}
.container_four{

}
.pimerCard_coverFour{
    display: flex;
}
.secondCard_coverFour{
    
}
.box__card-primary i{
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(235, 89, 35);

}

.box__card-primary1{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    text-align: center;
    background-image: url(/IMG/cover/full-stack.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.box__card-primary1:hover{
    transform: scale(1.1);
    
}

.box__card-primary1 h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary1 p{
    margin-top: 20px;
}
.box__card-primary1 img{
}
.container__box-cardPrimary1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

    
}

.box__card-primary2{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    text-align: center;
    background-image: url(/IMG/cover/front-end.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.box__card-primary2:hover{
    transform: scale(1.1);
    
}

.box__card-primary2 h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary2 p{
    margin-top: 20px;
}

.box__card-primary3{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    text-align: center;
    background-image: url(/IMG/cover/python.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.box__card-primary3:hover{
    transform: scale(1.1);
    
}

.box__card-primary3 h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary3 p{
    margin-top: 20px;
}
